-- Total Leader Config

-- Starting Debug level (error,warn,info,debug,fine,trace)
debug_level=info
-- Number of turns before game ends
game_turns=199
-- Number of players
number_players=5
-- Player types (Player,Computer)
player_type=Computer,Computer,Computer,Computer,Computer

-- The type of computer player (if player type is computer):
--	 * Best 		The highest ranked player
--	 * Top10/50/100 One of the highest 10/50/100 ranked players
--	 * New			A random new player
--	 * Random		A random player (not best)
--	 * Merge		Combine 2 players to be come a new player
--	 * Modified		A random player with random modifications
--	 * PotLuck		Randomly pick from other type (except Best)
computer_player_type=Best,Top10,Random,Top50,Merge
-- Colour value for each player
player_color=16711680,8421376,8388736,32896,16581375
-- Where to save and load the computer configs from
computer_config_path=C:\tl-config\

-- Y Axis Size
board_height=20
-- X Axis Size
board_width=20

-- The maximum units allowed per square
max_units=9
-- Units cost to build land
build_bridge=7
-- The number of units that are need to defend
base_defence_units=2
-- Number of turns that recruitments are available
recruitment_turns=5 
-- Number of squares required to get 1 recruit
recruit_squares=3

-- Chance a square is land
land_chance=40
-- Chance increase of land if the left or up square are land (if both this is used twice
land_clumping_chance=20

-- The number of pixels a square is displayed on screen as (height and width)
square_size_pixels=20
-- The font to use for units
unit_font=Ariel 
-- The font size to use for units
units_font_size=18 

-- The score each square is worth at the end of the game
square_score=9
-- The score each unit is worth at the end of the game
unit_score=1

-- If the game is to play it self to generate good computer players
auto_play=1
-- The chance we won't modify another play rule during randomisation (1/x that we stop)
modify_gene_chance_play=150
-- The chance we won't modify another play rule during randomisation (1/x that we stop)
modify_gene_chance_recruit=200 

-- If the computer player once picked a place to recruit, keeps adding to it until full before picking a new square
-- This will speed up the computer turn a lot
computer_quick_recruit=1 
-- The number of milliseconds to pause on the computer actions if the game is being played by a real person
interactive_computer_pause=500